{# src/Acme/BlogBundle/Resources/views/Backend/Product/index.html.twig #}
{% extends 'TecnokeyShopBundle:Backend:layout.html.twig' %}

{% block contextualThree %}<a href="{{ path('TKShopBackendPanelControlIndex') }}">Panel de control</a> \ Administrar categorias \{% endblock %}

{% block left_content %}
                        <!--start 1a fila botones-->
                        <div class="icono_prod_container">
                          
                      <div class=" icono_add_categorias"><a href="{{ path('TKShopBackendCategoryNew') }}">Añadir <br /> 
                        <span style="color:#F00">NUEVAS</span><br />
                      Categorías<br /></a></div>
                      <div class=" icono_gestion_categorias"><a href="{{ path('TKShopBackendCategoriesShowAll') }}">Gestionar Categorías</a></div>
            
						</div>
                        <!--start 1a fila botones-->
    
    {% if (error is defined and error) %}
    <h2> Se ha producido el siguiente error:</h2>
    <h3>{{ error }}</h3>
    {% endif %}
{% endblock %}
