# .gitignore for Tecnokey

# uploaded images
/web/bundles/tecnokey/uploads/*

# Netbeans files
.classpath 
.project 
.settings 
build.xml 
/*.launch 
/*.tmproj 

# logs 
/app/logs/*

#cache
/app/cache/*

#parameters
/app/config/parameters.ini