{# app/Resources/views/layout.html.twig #}
{# 
TODO:
    - Create controller for shopping cart and render it instead including it
    - Implement user login controller
#}

{% extends '::base.html.twig' %}

{% block title %}| Tecnokey |{% endblock %}

{% block stylesheets %}
            {{ parent() }}
<link href="{{ asset('bundles/tecnokey/css/site.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %} <!--start page-->
<div class="container">

    {% block header %}<!--start header-->
        {#{% include 'TecnokeyShopBundle:Frontend:header.partialhtml.twig' %}#}
    <div class="headercontainer">

        <div class="logologincontainer">
            <div class="logo"><img src="{{ asset('bundles/tecnokey/images/logo.png') }}" alt="logo" /></div>
            <div class="cestalogin"><!--start cesta login-->
                    {% block login %}
                        {% render path('TKShopFrontendUserProfile', {'_format': 'partialhtml'}) | toAppPath %}
                    {% endblock %}
                    {% block cesta %}
                        {% include 'TecnokeyShopBundle:Frontend:cesta.partialhtml.twig'%}
                    {% endblock %}
                </div><!--end cesta login-->
            </div><!--end logo login container-->	
            <div class="menucontainer"> <!--start menucontainer-->
        {% block menu %}     
            {% include 'TecnokeyShopBundle:Frontend:menu.partialhtml.twig'%}
        {% endblock %}
        {% block busqueda %}
                 {% include 'TecnokeyShopBundle:Default:buscar.partialhtml.twig' with {'targetController' : 'TKShopFrontendSearchProductsByMultiQuery'} %}            
        {% endblock busqueda%}<!--end menu--> 
            </div>
    </div>
    {% endblock %} <!--end header-->

    {% block content %}
        {% block treeContainer %}
            <!--start arbol-->
            <div class="arbol_container">
                <div class="arbol">
                    <div class="arboltext">{% block contextualThree %}<a href="#">Inicio</a> \{% endblock %}</div>
                </div>
            </div>
            <!--end arbol-->
        {% endblock treeContainer %}

        {% block left %}
        {% endblock left %}
        
        {% block right %}
        <div class="right">
            {% block right_content %}
            {% endblock right_content %}
            
            {% block right_pagination %}
                {% if (pagination is defined) %}
                    {% include 'TecnokeyShopBundle:Default:pagination.partialhtml.twig'%}
                {% endif %}
            {% endblock right_pagination %}
        </div>
        {% endblock right %}

    {% endblock %} {# end content #}

    {% block footer %}<!--start footer-->
        {% render path('TKShopFrontendBrandsShowRandom', {'_format': 'footer_partialhtml'}) | toAppPath %}
    {% endblock %}<!--end footer-->
        </div><!--end page-->
{% endblock %} {#end body#}

