{% extends 'TecnokeyShopBundle:Frontend:layout.html.twig' %}

{% block title %}| Tecnokey | Login |{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/tecnokey/css/user.css') }}" rel="stylesheet" type="text/css" />
{% endblock stylesheets %}

{% block menu %}
        {% include 'TecnokeyShopBundle:Frontend:menu.partialhtml.twig' with {'menu' : 'productos'} %}
{% endblock %}

{% block contextualThree %}<a href="{{ path('TKShopFrontendIndex') }}">Inicio</a> \ Lista de la compra \
{% endblock %}

{% block left %}
    {% render path('TKShopFrontendCategoriesShowAllFamilies', {'_format': 'partialhtml'}) | toAppPath %}
{% endblock %}

{% block right_content %}
<!--start right-->
    <div class="right">
    	<!--start menu user-->
		<div class="menu_user_container">
         	<div class="perfil_btn"><a href="#"><img src="../images/icono_perfil.png" alt="perfil" />Perfil</a></div>
				
	<div class="menu_pedidos_container">
                	<div class="proceso_btn"><a href="estado_proceso_lista.html"><img src="../images/icono_proceso.png" alt="proceso" />Pedidos En proceso</a></div>
            		<div class="realizados_btn"><a href="estado_realizados_lista.html"><img src="../images/icono_realizados.png" alt="realizado" />Pedidos Realizados</a></div>
                </div>
            
    <div class="cesta_btn"><a href="cesta.html">Cesta</a></div>
         
      </div>
        
        <!--end menu user--> 
        
        <!--start cuerpo--> 
        <div class="right_cuerpo_user">
        	<div class="titulo_current">Pedidos realizados:
            <span class="text_bold">Consulte el historial de sus pedidos realizados.</span></div>
            
        		<div class="lista_pedidos_container">
                            
                            <div class="legend_container">
                                <div class="producto_legend"><a href="#">Número del pedido</a></div>
                                <div class="precio_ud_legend"><a href="#">Fecha</a></div>
                                <div class="cantidad_legend"><a href="#">Cantidad</a></div>
                                <div class="subtotat_legend"><a href="#">Importe</a></div>
                              <div class="estado"><a href="#">Estado</a></div>
                            </div>
                            
                            <div class="legend_container">
                                <div class="producto_legend"><a href="#">10-16-000001</a></div>
                                <div class="precio_ud_legend">01/01/2012</div>
                              	<div class="cantidad_legend">5</div>
                                <div class="subtotat_legend">149,88 €</div>
                              	<div class=" estado_enviado">Enviado</div>
                            </div>
                            
                            <div class="legend_container">
                                <div class="producto_legend"><a href="#">10-16-000001</a></div>
                                <div class="precio_ud_legend">01/01/2012</div>
                              <div class="cantidad_legend">5</div>
                                <div class="subtotat_legend">149,88 €</div>
                              <div class=" estado_enviado">Enviado</div>
                            </div>
                            
                            <div class="legend_container">
                                <div class="producto_legend"><a href="#">10-16-000001</a></div>
                                <div class="precio_ud_legend">01/01/2012</div>
                              	<div class="cantidad_legend">5</div>
                                <div class="subtotat_legend">149,88 €</div>
                              	<div class=" estado_enviado">Enviado</div>
                            </div>
                            
                            <div class="legend_container">
                                <div class="producto_legend"><a href="#">10-16-000001</a></div>
                                <div class="precio_ud_legend">01/01/2012</div>
                              	<div class="cantidad_legend">5</div>
                                <div class="subtotat_legend">149,88 €</div>
                              	<div class=" estado_enviado">Enviado</div>
                            </div>
                            
                            <div class="legend_container">
                                <div class="producto_legend"><a href="#">10-16-000001</a></div>
                                <div class="precio_ud_legend">01/01/2012</div>
                              <div class="cantidad_legend">5</div>
                                <div class="subtotat_legend">149,88 €</div>
                              <div class=" estado_enviado">Enviado</div>
                            </div>
                            
               </div>
        
        </div>
        <!--end cuerpo--> 
          
    
    </div><!--end right-->
{% endblock right_content %}