{# src/Acme/BlogBundle/Resources/views/Frontend/Search/index.html.twig #}
{% extends 'TecnokeyShopBundle:Frontend:layout.html.twig' %}

{% block title %} | Tecnokey | Busqueda | {% endblock %}

{% block menu %}<!--start header-->
        {% include 'TecnokeyShopBundle:Frontend:menu.partialhtml.twig' with {'menu' : 'productos'} %}
{% endblock %}

{% block right_content %}
{#<div class="right">#}
                <!--start lista individual -->
                <div class="listbox_container">    
                    
                            <div class="fotoprod">¡FOTO!</div>
                      <div class="listbox">
                            
                            <div class="titulo_box">
                            <h1><a href="#">Quis nostrud exercitation ullamco laboris nisi ut aliquip</a></h1>
                    </div>
                            
                            <div class="text_list_box">
                            <h3><a href="#">Eset eiusmod tempor incidunt et labore et dolore magna aliquam. Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</a></h3>
                        </div>
                        </div>
                            <div class="precio_box">
                                <div class="precio">1205,70€</div>
                                <div class="iva">IVA inc.</div>
                                <div class="descuento">20%</div>
                            </div>	      
               	</div><!--end lista individual -->
    
    			<!--start lista individual -->
                <div class="listbox_container">    
                    
                            <div class="fotoprod">¡FOTO!</div>
                      <div class="listbox">
                            
                            <div class="titulo_box">
                            <h1><a href="#">Quis nostrud exercitation ullamco laboris nisi ut aliquip</a></h1>
                    </div>
                            
                            <div class="text_list_box">
                            <h3><a href="#">Eset eiusmod tempor incidunt et labore et dolore magna aliquam. Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</a></h3>
                        </div>
                        </div>
                            <div class="precio_box">
                                <div class="precio">1205,70€</div>
                                <div class="iva">IVA inc.</div>
                                <div class="descuento">20%</div>
                            </div>	      
               	</div><!--end lista individual -->
                
                <!--start lista individual -->
                <div class="listbox_container">    
                    
                            <div class="fotoprod">¡FOTO!</div>
                      <div class="listbox">
                            
                            <div class="titulo_box">
                            <h1><a href="#">Quis nostrud exercitation ullamco laboris nisi ut aliquip</a></h1>
                    </div>
                            
                            <div class="text_list_box">
                            <h3><a href="#">Eset eiusmod tempor incidunt et labore et dolore magna aliquam. Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</a></h3>
                        </div>
                        </div>
                            <div class="precio_box">
                                <div class="precio">1205,70€</div>
                                <div class="iva">IVA inc.</div>
                                <div class="descuento">20%</div>
                            </div>	      
               	</div><!--end lista individual -->
                
                <!--start lista individual -->
                <div class="listbox_container">    
                    
                            <div class="fotoprod">¡FOTO!</div>
                      <div class="listbox">
                            
                            <div class="titulo_box">
                            <h1><a href="#">Quis nostrud exercitation ullamco laboris nisi ut aliquip</a></h1>
                    </div>
                            
                            <div class="text_list_box">
                            <h3><a href="#">Eset eiusmod tempor incidunt et labore et dolore magna aliquam. Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</a></h3>
                        </div>
                        </div>
                            <div class="precio_box">
                                <div class="precio">1205,70€</div>
                                <div class="iva">IVA inc.</div>
                                <div class="descuento">20%</div>
                            </div>	      
               	</div><!--end lista individual -->
                
                <!--start lista individual -->
                <div class="listbox_container">    
                    
                            <div class="fotoprod">¡FOTO!</div>
                      <div class="listbox">
                            
                            <div class="titulo_box">
                            <h1><a href="#">Quis nostrud exercitation ullamco laboris nisi ut aliquip</a></h1>
                    </div>
                            
                            <div class="text_list_box">
                            <h3><a href="#">Eset eiusmod tempor incidunt et labore et dolore magna aliquam. Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</a></h3>
                        </div>
                        </div>
                            <div class="precio_box">
                                <div class="precio">1205,70€</div>
                                <div class="iva">IVA inc.</div>
                                <div class="descuento">20%</div>
                            </div>	      
               	</div><!--end lista individual -->
                
                <!--start lista individual -->
                <div class="listbox_container">    
                    
                            <div class="fotoprod">¡FOTO!</div>
                      <div class="listbox">
                            
                            <div class="titulo_box">
                            <h1><a href="#">Quis nostrud exercitation ullamco laboris nisi ut aliquip</a></h1>
                    </div>
                            
                            <div class="text_list_box">
                            <h3><a href="#">Eset eiusmod tempor incidunt et labore et dolore magna aliquam. Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</a></h3>
                        </div>
                        </div>
                            <div class="precio_box">
                                <div class="precio">1205,70€</div>
                                <div class="iva">IVA inc.</div>
                                <div class="descuento">20%</div>
                            </div>	      
               	</div><!--end lista individual -->
                
                <!--start lista individual -->
                <div class="listbox_container">    
                    
                            <div class="fotoprod">¡FOTO!</div>
                      <div class="listbox">
                            
                            <div class="titulo_box">
                            <h1><a href="#">Quis nostrud exercitation ullamco laboris nisi ut aliquip</a></h1>
                    </div>
                            
                            <div class="text_list_box">
                            <h3><a href="#">Eset eiusmod tempor incidunt et labore et dolore magna aliquam. Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</a></h3>
                        </div>
                        </div>
                            <div class="precio_box">
                                <div class="precio">1205,70€</div>
                                <div class="iva">IVA inc.</div>
                                <div class="descuento">20%</div>
                            </div>	      
               	</div><!--end lista individual -->
  
  
<!--end lista individual -->  
    <div class="pagination_container">
    <div class="numbers_container">
    	<div class="numbers"><a href="#">&#60&#60</a></div>
        <div class="numbers"><a href="#">&#60</a></div>
        <div class="numbers"><a href="#">1</a></div>
        <div class="numbers"><a href="#">2</a></div>
        <div class="numbers"><a href="#">3</a></div>
        <div class="numbers"><a href="#">4</a></div>
        <div class="numbers"><a href="#">5</a></div>
        <div class="numbers"><a href="#">6</a></div>
        <div class="numbers"><a href="#">&#62</a></div>
        <div class="numbers"><a href="#">&#62&#62</a></div>
    </div>
    </div>
<!--end lista individual -->
    
                
{#</div><!--end right-->#}
{% endblock %}
