{% extends 'TecnokeyShopBundle:Backend:layout.html.twig' %}

{% block contextualThree %}<a href="{{ path('TKShopBackendPanelControlIndex') }}">Panel de control</a> \ Administrar Usuarios \{% endblock %}

{% block left_content %}
<!--start 1a fila botones-->
<div class="icono_prod_container">

    <div class=" icono_add_users"><a href="#">Añadir <br /> <span style="color:#F00">NUEVO</span><br /> Usuario<br /></a></div>
    <div class=" icono_gestion_users"><a href="#">Gestionar Usuarios</a></div>

</div>
<!--End start 1a fila botones-->
{% endblock %}
